<%= form_with(model: jobstatus, local: true) do |form| %>
  <% if jobstatus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(jobstatus.errors.count, "error") %> prohibited this jobstatus from being saved:</h2>

      <ul>
      <% jobstatus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :jobID %>
    <%= form.text_field :jobID %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
