<p id="notice"><%= notice %></p>

<p>
  <strong>Jobid:</strong>
  <%= @jobstatus.jobID %>
</p>

<p>
  <strong>Status:</strong>
  <%= @jobstatus.status %>
</p>

<%= link_to 'Edit', edit_jobstatus_path(@jobstatus) %> |
<%= link_to 'Back', jobstatuses_path %>
